<!DOCTYPE html>
<html>
<head>
<title>Jovian Careers</title>
  
</head>
<body>

  
    <h1>Jovian Careers</h1>
    <img id = "banner" src = "https://5caf6815-491b-45b5-a72d-c382f12373ae-00-3eiu9dlsuamq1.spock.replit.dev/static/banner.jpg" >

  <h2>About Jovian</h2>

  <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Consectetur tincidunt sed ipsum class justo imperdiet. Nisl erat mattis montes dui luctus magnis at cubilia. Metus odio tortor phasellus semper libero suspendisse pretium mi donec. Habitasse lectus morbi tempus velit nibh mi habitasse hendrerit. Molestie libero metus ac nunc; pulvinar sed accumsan. Augue fringilla scelerisque eget porttitor laoreet quisque. Sagittis non enim iaculis aliquam malesuada arcu. Vehicula netus vivamus massa habitant ut adipiscing cursus. Tempor hac lacus amet sapien vestibulum nostra per tellus.

  Nisi euismod iaculis curabitur justo magna. Neque himenaeos volutpat in justo, hendrerit amet. Lobortis natoque aenean velit lectus eget luctus enim dolor. Aliquet est enim maecenas facilisis accumsan curae. Lacinia sapien nec per at porta sed. Conubia sagittis varius nisi; bibendum eget ex. Vehicula nam himenaeos varius inceptos, tincidunt a.
  </p>

  <h2>Open Positions</h2>
  <p >TODO - Show the jobs here </p>
    <div style = text-align: center;>
  <button>Contact us</button>
      <p>Copyright 2024, Jovian</p>

</body>
  
</html>